<div class="container">
  <h3>
    Angular 2 Seed
  </h3>
  <nav class="container">
    <a [routerLink]="['/']">
      Home
    </a>
    |
    <a [routerLink]="['/reactive-form']">
      Reactive Form
    </a>
    |
    <a [routerLink]="['/about']">
      About
    </a>
    |
    <a [routerLink]="['/github', 'angular']">
      Github Repos
    </a>
    |
    <a [routerLink]="['/contact']">
      Contact Us
    </a>
  </nav>

  <main class="container">
    <router-outlet></router-outlet>
  </main>


  <footer class="container">
  </footer>
</div>
